.footer {
    height: 401px;
    width:100%;
    background-color: #000000;
    color: #fff;
    font-family: 'Teachers', sans-serif;
    letter-spacing: 5px;
    z-index: 10;
    font-size: 20px;
}

.footer-content {
    padding: 40px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section {
    margin-bottom: 1rem;

    h5{
        color: #6B6B37;
        font-size: 28px;
        line-height: 36px;
        font-weight: 700;
    }
}

.footer-section-content {
    display: flex;
    gap: 10px;
    margin: 0;

    p{
        font-size: 24px;
        line-height: 36px;
        font-weight: 500;
    }
}

.footer h4 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    color: #FFFFFF;
}

.footer ul {
    list-style: none;
    font-size: 24px;
    line-height: 36px;
    font-weight: 500;
    color: #BBBBBB;
    padding: 0;
}

.footer ul li {
    margin-bottom: 0.5rem;
    font-family: 'muktaMahee', sans-serif;
    font-size: 15px;
    transition: background-color 0.2s ease-in-out, border-bottom 0.3s ease-in-out ;
}

.footer ul li a {
    color: #fff;
    text-decoration: none;
}

.footer ul li a:hover {
    text-decoration: underline;
}

li:hover {
    border-bottom: #ffffff solid 4px;
}

.footer-section p {
    font-family: 'muktaMahee', sans-serif;
    font-size: 15px;
    line-height: 36px;
}
