.hero{
    width: 100%;
    display: flex;
    align-items: center;
    max-height:860px;
    flex-direction: column;
    margin-top: 15px;
}

.hero-container {
    width:100%;
    height:820px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 3rem 2rem;
    margin: 0 2rem;
    /*border-radius: 15px;*/
    gap:10px;


}
.green {
    background-repeat: no-repeat;
    background-image: url('../../public/images/leaves.png'), url('../../public/images/landingpagebg.png');
    background-size: 98%;
    background-position: 60px -30px, -0 -60px;
}

.orange {
    background-repeat: no-repeat;
    background-image: url('../../public/images/tumeric_bg.png');
    background-size: 103% 111%;
    background-position: -23px -44px;
}

/*.grass {*/
/*    background-color: #EEEEDA;*/
/*}*/

.hero-text {
    padding-left: 60px;
    margin-right: 330px;
    max-width: 45%;
    transition: transform 0.5s ease-in-out;
}

.hero-text:hover {
    transform: scale(1.1);
}

.headingone {
    font-family: "biroScript", sans-serif;
    font-size: 52px;
    line-height: 78px;
    color: #FFFFFF;
    font-weight: 600;
    background-position: center center;
    background-repeat: no-repeat;
    padding-left: 20px;
}

.headingone-green-bar1 {
    background-image: url('../../public/images/rectangle_green_2.png');
}

.headingone-orange-bar1 {
    background-image: url('../../public/images/orange-bar1.png');
}

.headingtwo {
    font-family: "biroScript", sans-serif;
    font-size: 43px;
    line-height: 74px;
    letter-spacing: 5px;
    color: #FFFFFF;
    font-weight: 400;
    background-repeat: no-repeat;
    font-style: italic;
    padding-left: 20px;
}

.headingtwo-green-bar2 {
    background-image: url('../../public/images/headingbg.png');
}

.headingtwo-orange-bar2 {
    background-image: url('../../public/images/orange-bar2.png');
}

.hero-text span {
    font-family: "biroScript", sans-serif;
    font-weight: 600;
    line-height: 78px;
    color: #000000;
}

.hero-text p {
    width: 422px;
    /*background-color:rgba(168, 178, 64, 0.67);*/
    border-radius: 28px;
    padding: 15px 30px;
    font-size: 19px;
    line-height: 32px;
    font-weight: 500;
    margin: 30px 0;
    color: #FFFFFF;
    letter-spacing: 5px;
}

.para-bg-orange {
    background-color: #E3A91A;
;
}

.para-bg-green {
    background-color:rgba(168, 178, 64, 0.67);
}

.para-bg-grass{
    background-color: #3E9E02;
}

.hero-image{
    height: 100%;
    img {
        max-width: 100%;
        height: auto;
    }
}


